.title {
  background: -webkit-linear-gradient(#000000, #434343);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

@font-face {
  font-family: "geomanistultra";
  src: url("geomanist-ultra-webfont.eot");
}

@font-face {
  font-family: "geomanistultra";
  src: url("geomanist-ultra-webfont.ttf") format("truetype"),
    url("geomanist-ultra-webfont.svg#geomanistultra") format("svg");
  font-weight: normal;
  font-style: normal;
}

.button {
  border-radius: 0;
}
