$container-max-width: 1180px;

$input-focus-box-shadow-size: none;
$input-shadow: none;
$input-hover-border-color: none;

$button-border-color: none;
$button-hover-border-color: none;
$button-padding-vertical: 1em;

$title-family: "geomanistultra", serif;
$button-family: "geomanistultra", serif;

$size-1: 4.5rem;

$text: #1d1d1d;
$primary: #1d1d1d;

$link: $primary;
$link-hover: darken(hsl(0, 0%, 29%), 30%);

$navbar-item-hover-background-color: none;
$navbar-item-img-max-height: 6rem;
